@page
@model Motelika.Pages.AdvantagesModel
@{
}

<body class="header-inverted scrolled scrolled-up">
    <div class="wrapper">
        <div class="content">
            <section class="nevo-slider halfscreen">
                <div class="slides" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="slide active light-text" data-slide="0">
                        <div class="background">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-size-1 anchor-section lighter-bg" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius ">
                        <div class="column-6 centered">
                            <h2>Otelika for Visitors</h2>
                            <div class="space-2"></div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section lighter-bg" id="about" data-pos="2352.5">
                <div class="container">
                    <div class="grid vcenter">
                        <div class="text-center">
                            <h2>Contactless Accommodation Experience</h2>
                            <p>Your orders and requests are ready with just a few taps. Contactless safe and fast.</p>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-3 no-overflow lighter-bg">
                <div class="container w-container">
                    <div class="column-12 space-3">
                        <h4 class="h4">Best for <span class="light"><strong>Visitors</strong></span></h4>
                        <br />
                        <div class="slider m_features slick-initialized slick-slider">
                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 20000px; transform: translate3d(0px, 0px, 0px);">
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card1">
                                                        <div class="card-bg"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Contactless Check In.</h5>
                                                            <p class="paragraph-3">Quickly relieve your travel fatigue. Don't wait in line for Check-In, get to your room quickly and without contact.</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card2">
                                                        <div class="card-bg _2"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Quick and Easy Orders.</h5>
                                                            <p class="paragraph-2">Place your orders with a few touches, send your requests directly to the relevant department and your needs are met quickly.</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card3">
                                                        <div class="card-bg _3"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Manage Your In-Hotel Reservations.</h5>
                                                            <p class="paragraph-4">Be aware of the campaigns and take advantage of them. If you wish, Otelika can send you notifications for this..</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card5">
                                                        <div class="card-bg _5"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">All Services in Your Pocket</h5>
                                                            <p class="paragraph-5">Many services from Room Services, Taxi, Wake Up Service to Fault Record are in your pocket with Otelika..</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius light-text">
                        <div class="column-6 centered">
                            <h2>The Shortest Way To Travel</h2>
                            <p>Enjoy contactless tourism during your stay with Otelika. Witness that your wishes come true with a few touches.</p>
                            <div class="space-2"></div>
                        </div>
                        <div class="column-12">
                            <div class="background">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius ">
                        <div class="column-6 centered">
                            <h1>Otelika for Hotels</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-size-1 anchor-section" id="about" data-pos="2352.5">
                <div class="container">
                    <div class="grid vcenter">
                        <div class="text-center">
                            <h2>Focus on Your Strategy</h2>
                            <p>Let Otelika handle the coordination. Break the age of interdepartmental communication.</p>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-3 no-overflow">
                <div class="container w-container">
                    <div class="column-12 space-3">
                        <h4 class="h4">Tourism <span class="light"><strong>4.0</strong></span></h4>
                        <div class="slider m_features slick-initialized slick-slider">
                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 25000px; transform: translate3d(0px, 0px, 0px);">
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card1">
                                                        <div class="card-bg"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">PMS Integration.</h5>
                                                            <p class="paragraph-3">With Otelika PMS integration, visitor requests are directly in your PMS.</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card2">
                                                        <div class="card-bg _2"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Staff Application.</h5>
                                                            <p class="paragraph-2">Visitor requests and requests are sent directly to the pocket of the relevant personnel.</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card3">
                                                        <div class="card-bg _3"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">End-to-End One Channel Communication.</h5>
                                                            <p class="paragraph-4">Direct communication between hotel management, operation and visitor without the need for intermediaries.</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card5">
                                                        <div class="card-bg _5"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Department Orchestration.</h5>
                                                            <p class="paragraph-5">The distribution of tasks between departments is very clear thanks to Otelika, everything is recorded. For example, the Reception no longer has to deal with room service orders.</p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card1">
                                                        <div class="card-bg _5"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Reduce Your Costs.</h5>
                                                            <p class="paragraph-5">Printed tools such as menus and promotional brochures are now obsolete and useless. Reach your visitors directly, keep your products and prices updated. </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section light-text" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius ">
                        <div class="column-6 centered">
                            <h2>We Are With You To Grow Your Business!</h2>
                            <p>Otelika increases the productivity of your staff and departments while increasing your visitor satisfaction. Your operational burden is reduced.</p>
                            <div class="space-2"></div>
                        </div>
                        <div class="column-12">
                            <div class="background">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-2">
                <div class="container">
                    <div class="grid width-10 centered">
                        <div class="column-6 centered pad-5">
                            <h2>Experience Otelika!</h2>
                            <p>If you wish, you can have a demo experience by reading the following QR code.</p>
                            <a class="thumb shadow border-radius smooth" style="width: 85%;">
                            </a>
                        </div>
                        <div class="column-6">
                            <div class="box dark">
                                <div class="grid columns-1 vcenter">
                                    <div class="grid-item column">
                                        <a class="thumb shadow border-radius smooth">

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section light-text" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius ">
                        <div class="column-6 centered">
                            <h2>Witness Your Hotel Modernise</h2>
                            <p>Start now for free to present the contactless tourism concept of Otelika to your visitors. </p>
                            <div class="space-2"></div>
                        </div>
                        <div class="column-12">
                            <div class="background">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 lighter-bg">
                <div class="column-6 centered text-center">
                    <a class="button primary smooth" href="/signup" target="_blank">Register Now</a>
                    <p>Experience 30 Days Free at Your Hotel!</p>
                </div>
            </section>

        </div>

    </div>

    <div class="text-center">
        <br />
        <br />
        <a href="#" id="to-top" class="anchor-link">To The Top</a>
    </div>
</body>