@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="scrolled scrolled-up">
    <div class="wrapper">
        <div class="content">
            <section class="nevo-slider halfscreen" data-direction="right">
                <div class="slides" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="slide active" data-slide="0">

                        <div class="container">
                            <div class="grid vcenter">
                                <div class="inner">
                                    <span class="animated-text">
                                    </span>
                                    <div class="text-center">
                                        <h1>
                                            Say Hello to the Hotel of the Future!
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-3 lighter-bg">
                <div class="container">
                    <div class="grid width-12 centered">
                        <div class="column-6 centered space-10">
                            <h2>One Step Ahead</h2>
                            <p class="w-80 xs-w-100" style="text-align: justify">
                                Otelika allows hotel visitors to meet their needs in the hotel
                                without the need for mobile application downloads via smart
                                devices. Visitors can quickly access in-hotel services in
                                their native language, view their order status, and be
                                informed about campaigns created specifically for them.
                            </p>
                            <br />
                            <br />

                        </div>
                        <div class="column-6 centered pad-3">
                            <div class="column-12 image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-size-1 lighter-bg">
                <div class="column-12 image">
                    <h2 class="text-center justify">
                        Journey Toward Contactless Tourism
                    </h2>
                    <div class="space-5"></div>
                </div>
            </section>
            <br />
            <section class="section-size-3">
                <div class="container">
                    <div class="space-5"></div>
                    <div class="column-12 pad-0">
                        <div class="box dark">
                            <div class="
                    grid
                    columns-4 columns-tablet-2 columns-mobile-1
                    gallery
                    box
                    white
                    shadow
                    border-radius
                  " data-gallery="0" data-total="4">
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="0">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Contactless and Digital</h6>
                                    <p class="sub-text" style="text-align: justify">
                                        Your orders, requests, campaigns and needs are all in a
                                        custom interface and completely digital.
                                    </p>
                                </div>
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="1">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Multilingual</h6>
                                    <p class="sub-text" style="text-align: justify">
                                        Whatever your language is, all services of Otelika are in
                                        your language with 12 different language options.
                                    </p>
                                </div>
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="2">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Fully Integrated</h6>
                                    <p class="sub-text" style="text-align: justify">
                                        Orders and service requests are instantly sent to the
                                        Corporate Software as well as the Otelika staff interface.
                                    </p>
                                </div>
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="3">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Efficient Communication</h6>
                                    <p class="sub-text" style="text-align: justify">
                                        It distributes tasks automatically by eliminating physical
                                        communication between departments.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-3 no-overflow lighter-bg">
                <div class="container w-container">
                    <div class="column-12 space-3">
                        <h4 class="h4">
                            In The Future But
                            <span class="light"><strong>Now!</strong></span>
                        </h4>
                        <div class="slider m_features slick-initialized slick-slider">
                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 25000px; transform: translate3d(0px, 0px, 0px);">
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card1">
                                                        <div class="card-bg"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Room Service.</h5>
                                                            <p class="paragraph-3">
                                                                You can place your Room Service orders from the
                                                                special menus with a few taps.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card2">
                                                        <div class="card-bg _2"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Housekeeping.</h5>
                                                            <p class="paragraph-2">
                                                                Towel, shower gel or pillow menu, Housekeeping
                                                                requests are at your fingertips.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card3">
                                                        <div class="card-bg _3"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">In-House Reservation.</h5>
                                                            <p class="paragraph-4">
                                                                Make your Spa &amp; Wellness, restaurant or meeting room
                                                                reservations with a few touches.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card4">
                                                        <div class="card-bg _4"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Fault Record.</h5>
                                                            <p class="paragraph-5">
                                                                Report the malfunctions in Air Conditioning, TV,
                                                                Lighting, Plumbing systems that occur during
                                                                accommodation at the speed of light.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1">
                                        <div>
                                            <div class="slide1" style="width: 100%; display: inline-block;">
                                                <div class="feature-div">
                                                    <div class="feature-card f_card5">
                                                        <div class="card-bg _5"></div>
                                                        <div class="f_card-div">
                                                            <h5 class="h5 m1">Wake Up Service.</h5>
                                                            <p class="paragraph-5">
                                                                With the Wake Up Service, you will be woken up by a
                                                                search robot that knows you, and your breakfast is
                                                                ready at your wake up time if you wish.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="feature-card-shadow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-2">
                <div class="container">
                    <div class="grid width-10 centered">
                        <div class="column-6 centered pad-5">
                            <h2>Experience Otelika!</h2>
                            <p>
                                If you wish, you can have a demo experience by reading the
                                following QR code.
                            </p>
                            <a class="thumb shadow border-radius w-80 xs-w-100 smooth" href="https://kant.otelika.com/tr/56YTzU">
                            </a>
                        </div>
                        <div class="column-6">
                            <div class="box dark">
                                <div class="grid columns-1 vcenter">
                                    <div class="grid-item column">
                                        <a class="thumb shadow border-radius smooth">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section light-text" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius">
                        <div class="column-6 centered">
                            <h2>Witness Your Hotel Modernise</h2>
                            <p>
                                Start now for free to present the contactless tourism concept
                                of Otelika to your visitors.
                            </p>
                            <div class="space-2">
                            </div>
                        </div>
                        <div class="column-12">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="section-size-1 lighter-bg">
            <div class="column-6 centered text-center">
                <a class="button primary smooth auto-margin" href="/signup" target="_blank">Register Now</a>
                <p>Experience 30 Days Free at Your Hotel!</p>
            </div>
        </section>
    </div>
    <div class="text-center">
        <br />
        <br />
        <a href="#" id="to-top" class="anchor-link">To The Top</a>
    </div>
</body>