@page
@model Motelika.Pages.LoginModel
@{
}

<body>
    <div id="signup_page">
        <div id="signup_content">
            <form id="signup_form" method="post" name="loginForm" novalidate="" ng-submit="loginForm.$valid &amp;&amp; Login()" class="ng-pristine ng-valid ng-valid-email">
                <div class="row">
                    <div class="col-md-1 form-area">
                        <div class="row">
                        </div>
                        <div class="row form-area">
                            <div class="col-xs-12" id="signup_form_content">
                                <div class="row">
                                    <div class="col-sm-12 tooltip-top">
                                        <md-input-container class="md-block">
                                            <label class="ng-binding" for="signup_email_field">E-Mail Address</label>
                                            <input class="signup-field ng-pristine ng-untouched ng-valid md-input ng-empty ng-valid-email" data-parsley-errors-messages-disabled="" data-parsley-required="true" data-parsley-required-message="Lütfen e-posta adresinizi giriniz" data-parsley-trigger="change" data-parsley-type="email" data-parsley-type-message="Lütfen geçerli bir e-posta adresi giriniz" data-trigger="focus" id="signup_email_field" name="email" type="email" value="" ng-model="email" data-original-title="" title="" data-parsley-id="0941" aria-invalid="false"><div class="md-errors-spacer"></div><ul class="parsley-errors-list" id="parsley-id-0941"></ul>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row md-pb-0">
                                    <div class="col-sm-12 tooltip-top">
                                        <md-input-container class="md-block">
                                            <label class="ng-binding" for="signup_password_field">Password</label>
                                            <input class="signup-field ng-pristine ng-untouched ng-valid md-input ng-empty" data-parsley-errors-messages-disabled="" data-parsley-required="true" data-parsley-required-message="Lütfen parolanızı giriniz" data-parsley-trigger="chage" data-trigger="focus" id="signup_password_field" name="password" type="password" ng-model="password" data-original-title="" title="" data-parsley-id="2406" aria-invalid="false"><div class="md-errors-spacer"></div><ul class="parsley-errors-list" id="parsley-id-2406"></ul>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Log In</button>
                                    </div>
                                </div>
                                <br />
                                <div class="row md-pt-0">
                                    <div class="col-sm-12">
                                        <div class="sidebar-text-cell table-cell-vmid">
                                            <button class="btn-sm btn-info">Forgot your password?</button>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row col-sm-12">
                                    Don't have an account?
                                </div>
                                <br />
                                <div >
                                    <a asp-page="./SignUp/" class="btn btn-warning">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>