@page
@model Motelika.Pages.PricingModel
@{
}
<body>
    <div class="wrapper">
        <div class="content">
            <section class="nevo-slider halfscreen" data-direction="left">
                <div class="slides" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="slide active" data-slide="0">
                        <div class="background">
                        </div>
                        <div class="container">
                            <div class="grid vcenter">
                                <div class="text-center">
                                    <h1>
                                        Integrate Your Hotel with Technology
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-size-3 anchor-section" id="contact" data-pos="4096.828125">
                <div class="container">
                    <div class="grid">
                        <div class="column-5  offset-1 green-bg border-radius">
                            <div class="center">
                                <div class="space-3">
                                    <h3>Features</h3>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-PMS Integration.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Room Service.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Houskeeeping.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-In-House Reservation.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Fault Record.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Wake Up Service.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Taxi.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Marketing and Campaigns.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-12 Different Languages</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Notifications.</p>
                                    <p style="font-size:1rem;margin:0; padding: 0;">-Staff Application.</p>
                                    <p style="font-size:1rem; margin:0; padding: 0;">-Product Entry Service.</p>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="column-4 offset-1">
                            <div class="center">
                                <div class="space-1">
                                    <h4>The Hotel of the Future is So Close!</h4>
                                    <p style="font-size:0.9rem; margin:0; padding: 0;">Witness what Otelika has changed in your hotel for 30 Days with all its features!</p>
                                    <br />
                                    <h3>89$/Month</h3>
                                    <p style="font-family:'hk-nova', serif; font-size:0.9rem; margin:0; padding: 0;">For annual payments only 890$/Year<br>instead of <span style="text-decoration: line-through;">1068$/Year.</span> </p>
                                    <a style="margin-top:1.5rem;" class="button tertiairy smooth" href="/signup">Try it Free for 30 Days!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1">
                <div class="container">
                    <div class="column-12 text-center text-left-mobile animated-text done-animating" style="opacity: 1;">
                        <h2>Best Service For Contactless Tourism!</h2>
                        <h5>Otelika is always with you with its technology and team.</h5>
                    </div>
                    <br />
                    <div class="space-5"></div>
                    <div class="column-12 pad-0">
                        <div class="box dark">
                            <div class="grid columns-4 columns-tablet-2 columns-mobile-2 gallery box white shadow border-radius" data-gallery="0" data-total="4">
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="0">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Easy Membership</h6>
                                    <p class="sub-text" style="text-align: justify;">Become a member in a few clicks and start using it, regardless of the location of your hotel!</p>
                                </div>
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="1">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Full Integration</h6>
                                    <p class="sub-text" style="text-align: justify;">It integrates with your existing PMS with a few clicks, and the software communicates with each other without tiring you.</p>
                                </div>
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="2">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Cloud Architecture</h6>
                                    <p class="sub-text" style="text-align: justify;">All data is safe in the cloud. You will constantly get new updates without any problems. </p>
                                </div>
                                <div class="grid-item column undefined pad-1">
                                    <a class="thumb lightbox border-radius" href="" data-index="3">
                                        <div class="labels"></div>
                                    </a>
                                    <h6 class="text-center">Price Guarantee</h6>
                                    <p class="sub-text" style="text-align: justify;">You can use it on a monthly plan, or take advantage of our annual advantageous prices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-2">
                <div class="container">
                    <div class="grid width-10 centered">
                        <div class="column-6 centered pad-5">
                            <h2>Experience Otelika!</h2>
                            <p>If you wish, you can have a demo experience by reading the following QR code.</p>
                            <a class="thumb shadow border-radius smooth" style="width: 85%;">
                            </a>
                        </div>
                        <div class="column-6">
                            <div class="box dark">
                                <div class="grid columns-1 vcenter">
                                    <div class="grid-item column">
                                        <a class="thumb shadow border-radius smooth">

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section light-text" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius ">
                        <div class="column-6 centered">
                            <h2>Witness Your Hotel Modernise</h2>
                            <p>Start now for free to present the contactless tourism concept of Otelika to your visitors. </p>
                            <div class="space-2"></div>
                        </div>
                        <div class="column-12">
                            <div class="background">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 lighter-bg">
                <div class="column-6 centered text-center">
                    <a class="button primary smooth" href="/signup" target="_blank">Register Now</a>
                    <p>Experience 30 Days Free at Your Hotel!</p>
                </div>
            </section>

        </div>

    </div>

    <div class="text-center">
        <br />
        <br />
        <a href="#" id="to-top" class="anchor-link">To The Top</a>
    </div>
</body>