@page
@model Motelika.Pages.SupportModel
@{
}

<body class="scrolled-up">
    <div class="wrapper">
        <div class="content">
            <section class="nevo-slider halfscreen" data-direction="right">
                <div class="slides" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="slide active" data-slide="0">
                        <div class="background">

                        </div>
                        <div class="container">
                            <div class="text-center">
                                <div class="inner">
                                    <h1 class="typed color-text-1">Contact Us</h1>
                                    <h1 class="typed color-text-1">Start the Change!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-3 anchor-section" id="contact">
                <div class="container">
                    <div class="grid">
                        <div class="column-5  offset-1 green-bg border-radius">
                            <div class="center">
                                <div class="space-5">
                                    <span>
                                    </span>
                                    <h3>Otelika Support</h3>
                                    <div class="space-2"></div>
                                    <h5>support@otelika.com</h5>
                                    <div class="space-5"></div>
                                    <span>
                                    </span>
                                    <br />
                                    <h3>Otelika Sales</h3>
                                    <div class="space-1"></div>
                                    <h5>hi@otelika.com</h5>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="column-4 offset-1">
                            <div class="center">
                                <div class="space-1 centered">
                                    <h3>Contact Us</h3>
                                    <p style="font-size:0.9rem; margin:0; padding: 0;"></p><li>Learn about all the features of Otelika. </li><br><li>If you are a Otelika user, submit your questions and support requests.</li> <br><li>If you are new to Otelika, let us tell you what it can change for 30 Days!</li><p></p>
                                    <div class="space-1"></div>
                                    <a style="margin-top:1.5rem;" class="button tertiairy" href="mailto:hi@otelika.com" target="_blank">Start a Conversation Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-2">
                <div class="container">
                    <div class="grid width-10 centered">
                        <div class="column-6 centered pad-5">
                            <h2>Experience Otelika!</h2>
                            <p>If you wish, you can have a demo experience by reading the following QR code.</p>
                            <a class="thumb shadow border-radius smooth" style="width: 85%;">
                            </a>
                        </div>
                        <div class="column-6">
                            <div class="box dark">
                                <div class="grid columns-1 vcenter">
                                    <div class="grid-item column">
                                        <a class="thumb shadow border-radius smooth">

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="section-size-1 anchor-section light-text" id="buttons" data-pos="7154.78125">
                <div class="container">
                    <div class="grid text-center border-radius box border-radius ">
                        <div class="column-6 centered">
                            <h2>Witness Your Hotel Modernise</h2>
                            <p>Start now for free to present the contactless tourism concept of Otelika to your visitors. </p>
                            <div class="space-2"></div>
                        </div>
                        <div class="column-12">
                            <div class="background">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <br />
            <section class="section-size-1 lighter-bg">
                <div class="column-6 centered text-center">
                    <a class="button primary smooth" href="/signup" target="_blank">Register Now</a>
                    <p>Experience 30 Days Free at Your Hotel!</p>
                </div>
            </section>

        </div>

    </div>

    <div class="text-center">
        <br />
        <br />
        <a href="#" id="to-top" class="anchor-link">To The Top</a>
    </div>
</body>